/* /Main.razor.rz.scp.css */
h1[b-2scs3y59te] {
    color: #512BD4;
    font-family: 'OpenSansSemibold';
}

.counter-display[b-2scs3y59te] {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
}
/* /MainLayout.razor.rz.scp.css */
header[b-het4dj26p3] {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

main[b-het4dj26p3] {
    padding: 1rem;
}
